html {
	font-size: 16px;
	height: 100%;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	height: 100%;	
}

.container {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
	width: 90%;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
   
}

/*The widths are in a percentage!*/
header {
	align-items: center;
	border-bottom: 3px solid #77a466;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	
}

header h1 {
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	padding: 25px 0;
	text-align: center;
	width: 100%;
	
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
}
header nav ul {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px 10px;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.section-one h3,
.section-two h3,
.section-three h3 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	align-items: center;
	display: flex;
	border-top: 3px solid #eee;
	justify-content: center;
	margin: 10px auto;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

@media all and (min-width: 768px) {
	/* Tablet styles here */
	.top-section {
		margin-bottom: 15px;
	}

	.bottom-section {
		align-items: flex-start;
		border-top: 1px solid #eee;
		flex-direction: no-wrap;
		justify-content: space-between;
	}

	.section-one,
	.section-two,
	.section-three {
		border-top: none;
		width: 30%;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 0 20px;
	}

	footer {
		margin: 20px auto;
	}
}

@media all and (min-width: 1200px) {
	/* Desktop styles here */
	header,
	header nav ul {
		flex-direction: row;
	}

	header h1 {
		border-bottom: none;
		text-align: left;
	}
}
